*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  align-items: end;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

.result {
  grid-area: result;
  width: 711px;
  height: 456px;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 54px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__details .title {
  margin-bottom: 26px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: none;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  display: -webkit-box;
  line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 22px;
  width: 212px;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: end;
  gap: 5px;
  padding: 1px;
  cursor: pointer;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__textfield {
  border-width: 1px 0px 1px 0px;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  appearance: none;
  width: 225px;
  height: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid rgba(255, 255, 255, 1);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__list-item {
  display: block;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item:active {
  background-color: #545050;
}
